In [2]:
def double():
    """Function to double the value"""
    '''Takes in number n,returns the square of n'''
    #return 3*num
print(double.__doc__)

Function to double the value

In [59]:
print("python",end='@')

python@

In [60]:
print("my name is, ",end='')
print("kiran.",end='!')

my name is, kiran.!

In [61]:
a=100
print(a)

100

In [62]:
first_name='s'
second_name='kiran'
print(first_name)
print(second_name)

s
kiran

In [63]:
sem='first'
print(sem)

first

In [12]:
print("welcome to ",end='')
print("world",end='!')

welcome to world!

In [27]:
branch='cs'
print(branch)

cs

In [28]:
a="kiran"
b=5
print(a+str(b))

kiran5

In [34]:
n=100
n

100

In [65]:

def double():
    """Function to double the value"""
    '''Takes in number n,returns the square of n'''
    #return 3*num
print(double.__doc__)

Function to double the value

In [70]:
a=37
b=19.16
c=3+27j
#convrting float to int
print(int(b))

#converting int to float
print(float(a))

#converting float to complex
print(float(a))

#converting to compex
print(complex(a))

#converting int to complex
print(complex(a,b))

19
37.0
37.0
(37+0j)
(37+19.16j)

In [1]:
#python list
x=[6,99,77,'APPLE']
print(x)
[6,99,77,APPLE]

[6, 99, 77, 'APPLE']

NameError: name 'APPLE' is not defined

In [3]:
#python tupes
t=(6,'program',1+3j)
print("t[1]=",t[1])
print(t)
t[0]=10 #tryring to change elements 0 from '6' to '10'

t[1]= program
(6, 'program', (1+3j))

TypeError: 'tuple' object does not support item assignment

In [4]:
#printing set variable
a={1,7,3,6,9}
print("a=",a)

a= {1, 3, 6, 7, 9}

In [5]:
#printing set variables
b={2,4,2,5}
print("b=",b)

b= {2, 4, 5}

In [8]:
#python dictionary
d={1: 'apple',2: 'cat',3: 'food'}
print(d,type(d))
d[3]

{1: 'apple', 2: 'cat', 3: 'food'} <class 'dict'>

'food'

In [9]:
#python stringd
s='''apple'''
print(s)

apple

In [11]:
#find length
a=11
print(a)

11

In [15]:
#string concat
name="hello world"
s=name+" welcome" 
s

'hello world welcome'

In [19]:
# convert string into upper case
a="hello world"
print("before upper:",a)
b=a.upper()
print("after upper:",b)

before upper: hello world
after upper: HELLO WORLD

In [22]:
#string replication 
3*" hello world"

' hello world hello world hello world'

In [26]:
# find character from string
A="HELLO WORLD"
B=A.find('e')
B

-1

In [27]:
#replace strings
oldstring='i like fruits'
newstring=oldstring.replace('like','love')
print(newstring)
print(oldstring)

i love fruits
i like fruits